<ion-grid style="height: 80%; width: 80%" (click)="dismiss()">
  <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>The Semantic Machine</ion-card-title>
        <ion-card-subtitle>A Contextual Song</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        The Semantic Machine is a song that slowly changes with your surroundings,
        such as with the weather, places around you, or the time of day.
        It will sound different everytime you listen to it so take your time to explore.
        <br>
        <br>
        Created by Tracy Redhead and Florian Thalmann.
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>