<ion-content>
  <ion-toolbar color="transp" *ngIf="config.showTitle">
    <ion-title>{{config.title}}</ion-title>
  </ion-toolbar>
  <ion-item large color="dark" *ngIf="config.showDymoSelector">
    <ion-label>Select Dynamic Music Object</ion-label>
    <ion-select [(ngModel)]="selectedDymo" multiple="false" (ionChange)="dymoSelected()">
      <ion-select-option *ngFor="let d of config.dymos" [value]="d">{{d.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="config.showPlaybackButtons">
    <button ion-button large color="balanced" (click)="play()">
      <ion-icon name="play"></ion-icon>
    </button>
    <button ion-button large color="warning" (click)="pause()">
      <ion-icon name="pause"></ion-icon>
    </button>
    <button ion-button large color="assertive" (click)="stop()">
      <ion-icon name="square"></ion-icon>
    </button>
  </ion-item>
  <ion-list *ngIf="config.showDymoControls" color="dark">
    <ion-item *ngFor="let s of sliders" color="transp" no-lines>
      <ion-label item-left class="fixedLabel">{{s.getName()}}</ion-label>
      <ion-range item-content large color="warning" min="0" max="1000" step="1" [(ngModel)]="s.uiValue" (ionChange)="s.update()">
        <!--ion-label range-left class="fixedLabel">{{s.getName()}}</ion-label-->
      </ion-range>
    </ion-item>
    <ion-item *ngFor="let t of toggles" color="transp" no-lines>
      <ion-label item-left class="fixedLabel">{{t.getName()}}</ion-label>
      <ion-toggle item-content large color="warning" [(ngModel)]="t.uiValue" (ionChange)="t.update()"></ion-toggle>
    </ion-item>
    <ion-item *ngFor="let b of buttons" color="transp" no-lines>
      <button ion-button large color="stable" (click)="b.update()">{{b.getName()}}</button>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="config.showSensorSection">
    <button ion-button color="positive" (click)="resetSensors()">
      Reset sensors
    </button>
    <button ion-button color="royal" (click)="toggleSensorData()">
      Show sensor data
    </button>
  </ion-item>
  <ion-item *ngIf="config.showSensorSection&&showSensorData">
    <ion-label *ngFor="let s of sensors">
      {{ s.getName() }}: {{ s.getValue() }}
    </ion-label>
  </ion-item>
  <!--ion-item color="dark">
    <ion-label>
      {{ performanceInfo }}
    </ion-label>
  </ion-item-->
</ion-content>
