// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.fixedLabel {
  min-width: 25% !important;
  max-width: 25% !important;
}

.scroll-content {
  background-image: url('../assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

ion-content {
  --background: none;
  background-image: url('/assets/img/background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-item, ion-list {
  --ion-background-color: transparent;
  background: transparent; 
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

canvas {
  background-repeat: no-repeat;
  background-size: cover;
}

/*.ion-color-transp {
  --ion-color-base: transparent;
  --ion-color-base-rgb: 0, 0, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: transparent;
  --ion-color-tint: transparent;
}*/